@charset "utf-8";

.main_board {
  padding: 0;
  width: 800px;
  height: 800px;
  border: 1px solid black;
}
.main_row {
  height: 100px;
  display: flex;
}
.column {
  height: 100px;
  flex-grow: 1;
}
.black {
  background-color: black;
}